html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;

    background-color: #fff;
    color: #373737;

    font-family: "Geometria", Arial, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;

    &._noscroll {
        overflow: hidden;
    }

    &::-webkit-scrollbar {
    }

    &::-webkit-scrollbar-thumb {
    }
}

.wrapper {
    min-height: 100%;
    scroll-behavior: smooth;
    overflow-x: clip;

    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

._container {
    width: 100%;
    margin-inline: auto;
    max-width: $container + px;

    @media (max-width: $containerWithPadding + px) {
        max-width: none;
        padding-inline: $padding + px;
    }

    @media (max-width: 992px) {
        padding-inline: 15px;
    }

    &-small {
        width: 100%;
        margin-inline: auto;
        max-width: $containerSmall + px;

        @media (max-width: $containerSmallWithPadding + px) {
            max-width: none;
            padding-inline: $padding + px;
        }

        @media (max-width: 992px) {
            padding-inline: 15px;
        }
    }
}

section {
    &:not(.hero) {
        @include adaptive-value("margin-bottom", 200, 100, 1);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

._namu-pro {
}

h1 {
    font-weight: 900;
    @include adaptive-value("font-size", 70, 32, 1);
}

h2 {
    @include adaptive-value("font-size", 46, 28, 1);
    font-weight: 800;
}

h3 {
    @include adaptive-value("font-size", 30, 22, 1);
    font-weight: 500;
}

h4,
h5,
h6 {
    @include adaptive-value("font-size", 24, 20, 1);
    font-weight: 500;
}

p {
}

a {
    color: inherit;
}

._italic {
    font-style: italic;
}

.slider-buttons {
    button {
        img,
        svg {
        }
    }
}

figure,
img,
svg {
    display: block;
    width: 100%;
    max-width: 100%;
}

._btn {
    background-color: #d6263b;
    color: #fff;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    border-radius: 0.25rem;
    transition: all 0.3s ease 0s;

    height: 3.75rem;
    padding: 0 2.8125rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            box-shadow: 0 15px 25px rgba(192, 34, 53, 0.2);
        }
    }

    // ._btn-small

    &-small {
        height: 2.625rem;
        padding: 0 1.5625rem;
    }

    // ._btn-white

    &-white {
        background-color: #fff;
        color: #c12139;
        font-weight: bold;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        transition: 0.3s ease-in-out 0s;

        max-width: 350px;
        width: 100%;

        @include adaptive-value("font-size", 24, 16, 1);
        height: 3em;
        padding-inline: 1.75em;

        border: 2px solid transparent;
        border-color: currentColor;

        @media (any-hover: hover) {
            &:hover {
                background-color: transparent;
                color: #fff;
            }
        }

        @media (max-width: 600px) {
            width: 100%;
            max-width: none;
        }
    }

    // ._btn-white-border

    &-white-border {
        background-color: transparent;
        color: #fff;

        @media (any-hover: hover) {
            &:hover {
                background-color: #fff;
                color: #c12139;
            }
        }
    }
}

._more {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: fit-content;

    border: 1px solid #54555a;
    border-radius: 4px;
    font-weight: 700;
    color: #2d3134;

    height: 3.75rem;
    padding: 0 2.8125rem;

    margin-inline: auto;
    margin-top: 30px;

    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
        &:hover {
            background-color: #2d3134;
            border-color: #2d3134;
            color: #fff;
        }
    }
}

._section-top {
    margin-bottom: 35px;
    ._btn {
        display: inline-block;
        margin-left: 10px;
    }

    p {
        margin-top: 15px;
    }
}

.btn-circle {
    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;

    span {
        background: rgba(249, 249, 252, 0.2);
        backdrop-filter: blur(35px);
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;

        @include adaptive-value("width", 52, 45, 1);
        @include adaptive-value("height", 52, 45, 1);

        svg,
        img {
            width: 1rem;
            height: 1rem;
            fill: #fff;
            transform: rotate(180deg);
        }
    }

    label {
        color: #fff;
        display: block;
        @include adaptive-value("margin-left", 25, 10, 1);

        @media (max-width: 600px) {
            display: none;
        }
    }
}

blockquote {
    padding: 20px;
    border: 1px solid #cdcdcd;
    margin: 30px 0 0;
    position: relative;

    @include adaptive-value("font-size", 18, 14, 1);
    line-height: 1.44;

    &:before {
        content: "";
        background: url("@img/icons/attention.svg") no-repeat 50% 50% / contain;
        width: 18px;
        height: 18px;
        display: block;
        margin-bottom: 15px;
    }
}

._red {
    background-color: #c12139;
    position: relative;

    .stripe {
        height: 30px;
        background-color: #fff;
        width: 50vw;
        position: absolute;
        left: 100%;
        margin-left: -100px;
        bottom: 0;
        z-index: 10;

        @media (max-width: 600px) {
            bottom: -10px;
        }

        &:before {
            content: "";
            position: absolute;
            border: 31px solid transparent;
            border-bottom: 0px solid transparent;
            border-left: 0px solid transparent;
            border-right: 40px solid #fff;
            right: 100%;
            top: 0;
        }
    }
}

.accordion {
    // .accordion__item

    &__item {
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;

        &[data-open] {
            .cross {
                transform: rotate(0);
            }
        }
        // .accordion__item-title

        &-title {
            font-weight: bold;
            display: flex;
            align-items: center;

            @include adaptive-value("padding-top", 22, 14, 1);
            @include adaptive-value("padding-bottom", 22, 14, 1);

            @include adaptive-value("font-size", 24, 18, 1);

            @media (max-width: 600px) {
                font-weight: 400;
            }

            .cross {
                flex: 0 0 auto;
                width: 16px;
                height: 16px;
                @include adaptive-value("margin-right", 44, 15, 1);
                position: relative;
                color: #fff;

                transform: rotate(45deg);
                transition: all 0.3s ease 0s;

                &:before,
                &:after {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 50%;
                    width: 100%;
                    height: 2px;
                    background-color: currentColor;
                }

                &:before {
                    transform: translate(0, -50%) rotate(45deg);
                }

                &:after {
                    transform: translate(0, -50%) rotate(-45deg);
                }
            }
        }

        // .accordion__item-content

        &-content {
            // .accordion__item-content-height

            &-height {
                div {
                    color: #e5e5e5;

                    @include adaptive-value("padding-bottom", 30, 15, 1);
                    @include adaptive-value("padding-left", 60, 47, 1);

                    @media (max-width: 600px) {
                        padding: 0 0 15px 0 !important;
                    }

                    & > :not(:last-child) {
                        margin-bottom: 20px;
                    }

                    p {
                        @include adaptive-value("font-size", 24, 14, 1);
                    }
                }
            }
        }
    }

    // .accordion__open

    &__open {
    }
}
