.footer {
    color: #fff;
    background-color: #2d3134;
    padding-top: 3.75rem;
    padding-bottom: 1.875rem;

    // .footer__container

    &__container {
    }

    // .footer__body

    &__body {
    }

    // .footer__top

    &__top {
        display: flex;
        justify-content: space-between;

        & > :not(:last-child) {
            margin-right: 15px;

            @media (max-width: 1024px) {
                margin-right: 0;
            }
        }

        border-bottom: 1px solid #54555a;
        padding-bottom: 3.75rem;
        margin-bottom: 1em;

        @media (max-width: 1024px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 40px 30px;
        }

        @media (max-width: 600px) {
            display: block;
            gap: 0;
            padding-bottom: 3rem;
            margin-bottom: 2em;

            & > :not(:last-child) {
                margin-bottom: 2.25rem;
            }
        }

        ._btn {
            @media (max-width: 600px) {
                width: 100%;
            }
        }

        div {
            font-size: 1.125rem;

            span {
                display: block;
                font-size: 0.8em;
                margin-bottom: 5px;

                @media (max-width: 600px) {
                    font-size: 1em;
                }
            }

            a {
                display: block;
                font-size: 1em;
                font-weight: 700;

                @media (max-width: 600px) {
                    font-size: 1.2em;
                }
            }
        }
    }

    // .footer__logo

    &__logo {
        flex: 0 0 auto;

        display: block;
        width: fit-content;

        img,
        svg {
            width: 60px;
        }
    }

    // .footer__contacts

    &__contacts {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 20px;


        a {
            &:has(svg),
            &:has(img) {
                display: flex;
                align-items: center;
                white-space: nowrap;

                svg,
                img {
                    flex: 0 0 auto;
                    width: 1em;
                    height: 1em;
                    fill: #fff;
                    margin-right: 0.25em;
                }

                span {
                    margin: 0;
                }
            }
        }
    }

    // .footer__bottom

    &__center {
        display: flex;
        justify-content: space-between;

        border-bottom: 1px solid #54555a;
        padding-bottom: 2.5rem;
        margin-bottom: 1.875em;

        & > :not(:last-child) {
            margin-right: 15px;
        }

        // .footer__bottom-title

        &-title {
            font-weight: 700;
            text-decoration: underline;
            margin-bottom: 1.25rem;
            display: block;
        }

        // .footer__center-column

        &-column {
            flex: 0 0 20%;

            @media (max-width: 1024px) {
                flex: 0 0 33%;
            }

            @media (max-width: 600px) {
                flex: 0 0 45%;
            }
        }

        .socials {
            display: flex;
            align-items: center;

            & > :not(:last-child) {
                margin-right: 15px;
            }

            li {
                a {
                    img,
                    svg {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }

    // .footer__menu

    &__menu {
        flex: 1 1 auto;

        @media (max-width: 600px) {
            flex: 0 0 48%;
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (max-width: 1024px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 30px 15px;
                align-items: flex-start;
            }

            @media (max-width: 600px) {
                display: block;

                gap: 0;
            }

            & > :not(:last-child) {
                margin-right: 15px;

                @media (max-width: 600px) {
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }

            li {
                a {
                    font-weight: 700;
                    text-decoration: underline;
                    display: block;
                    color: #fff;
                }

                flex: 0 0 20%;

                ul {
                    margin-top: 1.25rem;

                    & > :not(:last-child) {
                        margin-bottom: 15px;
                    }

                    li a {
                        color: rgba($color: #fff, $alpha: 0.5);
                        font-weight: 500;
                        text-decoration: none !important;
                    }
                }
            }
        }
    }

    a {
        transition: all 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                color: #fff;
            }
        }
    }

    // .footer__bottom

    &__bottom {
        color: rgba($color: #fff, $alpha: 0.5);

        p {
            margin-bottom: 0.625rem;
            @include adaptive-value("font-size", 16, 12, 1);
            text-transform: uppercase;
        }

        div {
            display: flex;
            flex-wrap: wrap;
        }

        a {
            text-decoration: underline;

            @include adaptive-value("font-size", 16, 12, 1);

            margin-right: 3.125rem;
            margin-bottom: 0.5rem;
        }
    }
}
