.flex {
    // .flex__container

    &__container {
    }

    // .flex__body

    &__body {
    }

    // .flex__flex

    &__flex {
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            display: block;
        }
    }

    // .flex__left

    &__left {
        width: calc(50% - 15px);

        display: flex;
        flex-direction: column;

        @media (max-width: 768px) {
            width: 100%;
            display: block;
        }

        h2 {
            font-weight: 700;
            color: #bf072c;
            text-transform: uppercase;

            @include adaptive-value("font-size", 32, 20, 1);
            margin-bottom: 2em;
        }

        p {
            @include adaptive-value("font-size", 19, 15, 1);
            line-height: 1.44;
            max-width: 500px;
            width: 100%;

            flex: 1 1 auto;
        }

        span {
            font-size: 12px;
            @include adaptive-value("margin-top", 30, 20, 1);
        }
    }

    // .flex__right

    &__right {
        width: calc(50% - 15px);

        @media (max-width: 768px) {
            width: 100%;
            margin-top: 40px;
        }
    }
}
