.process {
    background-color: $color;
    color: #fff;
    position: relative;
    @include adaptive-value("padding-bottom", 120, 65, 1);

    margin-bottom: 0 !important;

    &:before {
        position: absolute;
        content: "";
        background: url("@img/icons/pattern-1.svg") no-repeat 0% 50% / contain;
        z-index: 10;

        right: 0;
        top: 0;

        transform: translate(0, -50%);

        width: 16.2vw;
        height: 16.2vw;

        @media (max-width: 768px) {
            display: none;
        }
    }

    // .process__top

    &__top {
        img {
            height: 286px;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }

    // .process__container

    &__container {
    }

    // .process__body

    &__body {
    }

    // .process__flex

    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include adaptive-value("margin-bottom", 60, 30, 1);

        @media (max-width: 768px) {
            display: block;
        }

        & > :not(:last-child) {
            margin-right: 30px;

            @media (max-width: 768px) {
                margin-right: 0;
            }
        }

        @include adaptive-value("font-size", 24, 18, 1);

        // .process__flex-left

        &-left {
            width: 40%;
            @media (max-width: 768px) {
                width: 100%;
            }
        }

        // .process__flex-right

        &-right {
            width: 60%;

            @media (max-width: 768px) {
                width: 100%;
                margin-top: 30px;
            }
        }

        &._img {
            align-items: flex-end;
            margin-top: -180px;

            @media (max-width: 768px) {
                margin-top: 0;
            }

            h2 {
                @include adaptive-value("font-size", 60, 26, 1);
            }

            p {
                @include adaptive-value("margin-top", 20, 12, 1);
            }

            img {
                object-fit: cover;

                @media (min-width: 769px) {
                    @include adaptive-value("height", 680, 400, 1);
                }

                @media (max-width: 768px) {
                    height: 200px;
                    object-position: top;
                }
            }

            .process__flex-left {
                @media (max-width: 768px) {
                    width: 100vw;
                    margin-left: -15px;
                }
            }
        }

        &._bgc {
            position: relative;
            background-color: #fff;
            color: $color;

            justify-content: flex-start;

            @include adaptive-value("padding-top", 70, 24, 1);
            @include adaptive-value("padding-bottom", 70, 24, 1);
            @include adaptive-value("padding-inline", 60, 16, 1);

            &:after {
                content: "";
                position: absolute;
                right: 0;
                bottom: 0;
                border: 20px solid transparent;
                border-right: 20px solid $color;
                border-bottom: 20px solid $color;
                display: block;
                width: 0;
                height: 0;
            }

            p {
                max-width: 510px;

                @media (max-width: 768px) {
                    width: 100%;
                }
            }

            a {
                @include adaptive-value("font-size", 18, 14, 1);
                color: #2a6cee;
                font-weight: 600;

                display: flex;
                align-items: center;

                span {
                    border-bottom: 1px solid currentColor;
                }

                img {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }
            }

            .process__flex-left {
                margin-right: 8.3%;
                width: auto;

                @media (max-width: 768px) {
                    margin-right: 0;
                }
            }

            .process__flex-right {
                width: auto;
            }
        }

        &._text {
            .process__flex-left {
                width: auto;
            }

            .process__flex-right {
                width: auto;
            }
        }
    }
}

